@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600&display=swap");
$light-red: #F16A6A;
$dark-red: #c25454;
$dark-blue: #282A36;
$gray: #B9B9B9;
$dark-gray: #919191;
$light-blue: #3C3F51;
$lighter-blue: #333543;
$font: 'Fira Sans', sans-serif;