@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap');
$light-yellow: #FFEE51;
$dark-red: #c25454;
$green: #52FF8D;
$gray: #B9B9B9;
$dark-gray: #919191;
$charcoal: #212121;
$light-blue: #3c3f51;
$darker-blue: #333543;
$font: 'Poppins', sans-serif;